/* Universal Style */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background-color:#F2F2F2;
  font-family:'Anek Latin', sans-serif;
  font-size:16px;
}

body {
  margin:0;
  margin-top: 1.5rem;
}

ul {
  padding:0;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin:1.5rem auto;
}

a {
  color:inherit;
  text-decoration: none;
}

.container {
  margin:3rem 0;
  padding: 2rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.black {
  background-color: #090A0B;
  color:#F2F2F2;
}


/* Navbar Section */
.navigation {
  padding:0 1.5rem;
  position: sticky;
  top:0;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar-logo {
  font-family: Sacramento, sans-serif;
  font-size: 2.5rem;
  color:#090A0B;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

.navbar-item {
  margin-right:2rem;
  list-style-type: none;
}

.navbar-link {
  font-size:1.2rem;
  color:#A7A7A7;
}

.navbar-link:hover {
  color:#090A0B;
}

.mobile {
  display: none;
}

@media only screen and (max-width:720px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .navbar-logo {
    font-size:1.5rem;
  }

}

/* Company Profile Section */
.company-image {
  width:50%;
  margin-right: 1.8rem;
  height: 600px;
  border-radius: 1.5rem;
}

.company-profile-content {
  display: flex;
  align-items: center;
  width: 45%;
}

.company-profile-content h1 {
  font-size:4rem;
  color:#F2F2F2;
}

@media only screen and (max-width:900px) {
  .company-profile-content {
    width: 100%;
    text-align: center;
  }

  .company-profile-content h1 {
    font-size: 2.0rem;
  }

  .company-image {
    width: 80%;
    height:auto;
    margin:0 auto;
  }
}

/* Product Section */
.products-image-container {
    justify-content: center;
}

.products-content {
  width:50%;
  line-height: 2;
  text-align: center;
  margin: 0 auto;
}

.products-card {
  width:20%;
  border-radius: 10px;
  border:2px solid black;
  padding:10px;
  text-align:center;
  margin:2rem 1.5rem 1.5rem 0;
}

.products-card img {
  width:50%;
}

.price {
  font-weight: bold;
}

@media only screen and (max-width:900px) {
  .products-card {
    width:50%;
    height:auto;
  }

  .products-content {
    width:100%;
  }
}

/* Our Team Section */

.team-card {
  text-align: center;
  width:20%;
  margin-right: 1.5rem;
}

.team-card img {
  width:50%;
  margin-left: 0 auto;
}

.team-card-content {
  justify-content: center;
}

.team-heading {
  padding:1.5rem 0;
}

@media only screen and (max-width:500px) {
  .team-card-content {
    flex-direction:column;
  }

  .team-card {
    width: 100%;
    margin:1.5rem 0;
    border-bottom:2px dotted white;
  }

  .team-card img {
    width:25%;
  }
}

/* Footer */

footer {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
